* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@700&display=swap');

body {
    background-image: url(../img/background.jpg);
    background-size: cover;
}

.picture_set_1 {
    height: 70px;
    width: auto;
}

.discount_images {
    height: 400px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.discounts {
    background: whitesmoke;
    display: flex;
    justify-content: stretch;
    border-radius: 50px;
    border-bottom-style: solid;
    border-color: #8BC34A;
    border-width: 20px;
}

.navbar {
    font-size: 20px;
    color: whitesmoke;
}

#grid_wrapper_main {
    display: grid;
    height: 100vh;
    width: 1fr;
    grid-template-columns: 20xp 1fr 20px;
    grid-template-rows: 500px 70px 400px 400px 400px 400px 400px 400px;
    grid-template-areas:
    "hea hea hea"
    "nav nav nav"
    ".   se1 .  "
    ".   se2 .  "
    ".   se3 .  "
    ".   se4 .  "
    ".   se5 .  "
    ".   se6 .  "
    ;
    row-gap: 30px;
}

header {
    background-image: url(../img/nature.jpg);
    background-size: cover;
    color: whitesmoke;
    grid-area: hea;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-attachment: fixed;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    font-family: 'Oswald', sans-serif;
    letter-spacing: -1px;
}

h1 {
    font-size: 40px;
    text-decoration: none;
    outline: black;
    outline-width: 10px;
    outline-color: black;
}

nav {
    position: sticky;
    top: 0;
    background: #8BC34A;
    grid-area: nav;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: -30px;
    margin-bottom: 30px;
}

#section_1 {
    grid-area: se1;
}

#section_2 {
    grid-area: se2;
}

#section_3 {
    grid-area: se3;
}

#section_4 {
    grid-area: se4;
}

#section_5 {
    grid-area: se5;
}

#section_6 {
    grid-area: se6;
}

#link_list {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}

section {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin: 10px;
}

a {
    text-decoration: none;
}